<div class="formradiobutton{{#if modifier}} {{modifier}}{{/if}}">
	<input type="radio" value="{{id}}" name="{{name}}" id="{{id}}" {{#checked}}checked{{/checked}} {{#disabled}}disabled{{/disabled}}>
	<label for="{{id}}">
		<span><span></span></span>
		<span class="formradiobutton-x-text">{{{text}}}</span>
	</label>
</div>