<dialog class="{{render '@dialog'}} {{render '@dialog--titled'}} {{render '@wrap'}} {{render '@wrap--light'}}">
  <header class="dialog-x-titlebar">
		<h1>Share this Collection</h1>
		<button class="dialog-x-close"><span class="icon icon-notext icon-close">Close</span></button>
	</header>
	{{render '@l-tabs'}}
  <div class="{{render '@l-sharepane'}}" tabindex="-1" id="sharelink">
    {{render '@formfield--link' formFieldContext merge=true}}
    <div class="{{render '@l-childrenhorizontal'}} {{render '@l-childrenhorizontal--spacebetween'}}">
      <div class="{{render '@l-childrenhorizontal'}} {{render '@l-childrenhorizontal--small'}}">
        {{render '@formradiobutton' formRadioButtonv1Context merge=true}}
        {{render '@formradiobutton' formRadioButtonv2Context merge=true}}
      </div>
      {{render '@button' buttonContext merge=true}}
    </div>
    <div class="l-sharepane-x-preview {{render '@wrap'}} {{render '@wrap--light4'}} {{render '@wrap--rounded'}}">
      {{render '@text--small' textTitleContext merge=true}}
      {{render '@text--small' textBodyContext merge=true}}
    </div>
    <div class="{{render '@l-childrenhorizontal'}} {{render '@l-childrenhorizontal--right'}}">
      <a class="{{render '@standaloneanchor'}}" href="#">Open in New Window</a>
    </div>
  </div>
</dialog>

{{render '@preview--scripts-opendialog'}}