<input class="{{#if xSelector}}{{xSelector}} {{/if}}formsectiontoggle {{render '@visuallyhidden'}}" type="checkbox" id="{{id}}" name="{{id}}">
<label class="{{render '@standaloneanchor'}}" for="{{id}}">
  <span class="formsectiontoggle-x-showtext">Show</span><span class="formsectiontoggle-x-hidetext">Hide</span> {{text}}
</label>