<table class="{{render '@table--import'}}">
	<thead>
		<tr>
			<th scope="col">
				{{render "@select--import"}}
			</th>
			<th scope="col">
				{{render "@select--import"}}
			</th>
			<th scope="col">
				{{render "@select--import"}}
			</th>
			<th scope="col">
				{{render "@select--import"}}
			</th>
			<th scope="col">
				{{render "@select--import"}}
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>First Name</td>
			<td>Last Name</td>
			<td>id</td>
			<td>email</td>
			<td>group</td>
		</tr>
		<tr>
			<td>mae</td>
			<td>Quinn</td>
			<td>422334</td>
			<td>MaeQuinn@gmail.com</td>
			<td>group</td>
		</tr>
	</tbody>
</table>