<section class="pathway-x-content pathwaydetail">
	<header>
		<h1>Discovery Corps Assistant (DCA)</h1>
		<div class="pathwaydetail-x-controls">
			{{render "@button" partialData.viewButton merge=true}}
			{{render "@menumore--default"}}
		</div>
	</header>
	<div class="{{render "@l-childrenvertical"}}">
		<div class="{{render "@article"}}">
			<p>The first level of the Discovery Corps program. This level is a primary welcome to Pacific Science Center level and focuses of helping students gain the basics of science interpretation.</p>
		</div>
		<footer class="{{render "@l-childrenhorizontal--default"}} {{render "@l-childrenhorizontal--spacebetween"}}">
			{{render "@formcheckbox--default"}}
			<div class="{{render "@l-childrenhorizontal--default"}}">
				<div class="{{render "@l-childrenhorizontal--default"}}">
					<a class="{{render "@badge--default"}} {{render "@badge--flat"}}" href=""><img src="http://placehold.it/100x100" width="40" height="40" alt="Badge description"></a>
					<a class="{{render "@badge--default"}} {{render "@badge--flat"}}" href=""><img src="http://placehold.it/100x100" width="40" height="40" alt="Badge description"></a>
				</div>
				{{render "@button" partialData.connectButton merge=true}}
			</div>
		</footer>
	</div>
</section>
