<dialog class="{{render '@dialog'}} {{render '@dialog--titled'}} {{render '@wrap'}} {{render '@wrap--light'}}">
  <header class="dialog-x-titlebar">
		<h1>Share this Badge</h1>
		<button class="dialog-x-close"><span class="icon icon-notext icon-close">Close</span></button>
	</header>
	{{render '@l-tabs' lTabsContext merge=true}}
  <div class="{{render '@l-sharepane'}}" tabindex="-1" id="sharelinkembed">
    {{render '@formfield--limitedtextarea' formFieldContext merge=true}}
    <div class="{{render '@l-childrenhorizontal'}} {{render '@l-childrenhorizontal--spacebetween'}}">
      <div class="{{render '@l-childrenhorizontal'}} {{render '@l-childrenhorizontal--small'}}">
        {{render '@formradiobutton' formRadioButtonCardContext merge=true}}
        {{render '@formradiobutton' formRadioButtonBadgeContext merge=true}}
      </div>
      {{render '@button' buttonCopyContext merge=true}}
    </div>
    {{render '@title' titleContext merge=true}}
    <div class="l-sharepane-x-preview {{render '@wrap'}} {{render '@wrap--light4'}} {{render '@wrap--rounded'}} {{render '@l-childrencentered'}}">
      <!-- NOTE: This is simply placeholder, will require diffrent code, possibly iframe -->
      <div class="{{render '@badge'}}">
        <!-- NOTE: Alt text should describe the image -->
        <img src="http://placehold.it/256x256" alt="" width="128" height="128">
      </div>
    </div>
  </div>
</dialog>
{{render '@preview--scripts-opendialog'}}