<div class="{{render '@l-auth'}}">
  {{render '@title--bold' titleContext merge=true}}
  {{render '@text--quiet' textContext merge=true}}
  <form class="{{render '@l-form--span'}}" role="form" aria-labelledby="heading-form">
    <fieldset role="group" aria-labelledby="heading-forgotpassword">
      <legend class="{{render '@visuallyhidden'}}" id="heading-forgotpassword">Forgot Password</legend>
      {{render '@formfield' formFieldEmailContext merge=true}}
    </fieldset>
    <div class="l-form-x-offset {{render '@l-childrenhorizontal'}} {{render '@l-childrenhorizontal--right'}}">
      {{render '@button' buttonSubmitContext merge=true}}
    </div>
  </form>
</div>
