<div class="formaddinput">
  <label class="{{render '@visuallyhidden'}}" for="{{id}}" id="formaddinput-{{id}}">{{label}}</label>
  <input type="text" name="{{id}}" id="{{id}}">
  <button aria-labelledby="formaddinput-{{id}}">Add</button>
</div>